HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### next js ###
# dependencies
node_modules/

# next.js
.next/
!**/src/main/frontend/out/

# misc
!**/src/main/frontend/.DS_Store
!**/src/main/frontend/*.pem

# debug
!**/src/main/frontend/npm-debug.log*
!**/src/main/frontend/yarn-debug.log*
!**/src/main/frontend/yarn-error.log*

# local env files
!**/src/main/frontend/.env.local
!**/src/main/frontend/.env.development.local
!**/src/main/frontend/.env.test.local
!**/src/main/frontend/.env.production.local

# vercel
!**/src/main/frontend/.vercel
